# Higher font comment
### Lower font comment
- points
- use shift+tab before bracket of a function to see its complete details

In [4]:
First = u'Kritika'
Last = u'Verma'
print ("My first name is {} and last name is {}".format(First,Last))
print ("My first name is {first} and last name is {last}".format(last = Last,first = First))

My first name is Kritika and last name is Verma
My first name is Kritika and last name is Verma

# Checking Git

In [5]:
MyName = "Kritika Verma"
MyName.istitle()
MyName.endswith('a') #case sensitive
MyName.startswith('K')

True

# pandas

In [13]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(0,12).reshape(3,4),index = ['R1','R2','R3'],columns = ['C1','C2','C3','C4'])
df

    C1  C2  C3  C4
R1   0   1   2   3
R2   4   5   6   7
R3   8   9  10  11

In [15]:
df.to_csv('Learningpandas.csv')
df.loc['R3']

C1     8
C2     9
C3    10
C4    11
Name: R3, dtype: int32

In [16]:
type(df.loc['R3'])

pandas.core.series.Series

In [19]:
df.iloc[0:2,0:3]

    C1  C2  C3
R1   0   1   2
R2   4   5   6

In [18]:
type(df.iloc[0:2,0:3])

pandas.core.frame.DataFrame

In [20]:
#convert data frames to arrays
df.iloc[0:2,0:3].values

array([[0, 1, 2],
       [4, 5, 6]])

In [22]:
# for multiple columns use as below
df[['C1','C2']]

    C1  C2
R1   0   1
R2   4   5
R3   8   9