In [1]:
#pandas series objects
import pandas as pd
kulfi = ['Chocolate','Mango','Vanilla','Strawberry','Kesar']
pd.Series(kulfi)

0     Chocolate
1         Mango
2       Vanilla
3    Strawberry
4         Kesar
dtype: object

In [3]:
lottery = [4,8,15,12,23,43]
pd.Series(lottery)

0     4
1     8
2    15
3    12
4    23
5    43
dtype: int64

In [4]:
reg = [True,False,False,True,False,True]
pd.Series(reg)

0     True
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [10]:
import pandas as pd
Men = ['Smart','Handsome','Charming','Brilliant','Humble']
s = pd.Series(Men)
print (s.values)
print (s.index)
print (s.dtype)

['Smart' 'Handsome' 'Charming' 'Brilliant' 'Humble']
RangeIndex(start=0, stop=5, step=1)
object

In [2]:
#pandas methods parameters and arguments
import pandas as pd
Rate = [3.99,4.54,6.52,5.55,7.91]
r = pd.Series(Rate)
print(r.sum())
print(r.product())
print(r.mean())
fruits = ['Apple','Mango','Watermelon','pineapple','Grapes']
weekdays = ['Mon','Tues','Wed','Thurs','Fri']
pd.Series(fruits,weekdays)
pd.Series(data=fruits, index = weekdays)
pd.Series(fruits,index= weekdays)

28.51
5184.9647823959995
5.702

Mon           Apple
Tues          Mango
Wed      Watermelon
Thurs     pineapple
Fri          Grapes
dtype: object

In [18]:
import pandas as pd
test = pd.read_csv("100 Sales Records.csv",squeeze = True,usecols = ["Region"])
test.head(3)
test.tail()
test.values
test.index
test.tail(2)
test.dtype
test.is_unique
test.ndim
test.shape
test.size
test.name
test.name = "Region New"
test.head()

0                Australia and Oceania
1    Central America and the Caribbean
2                               Europe
3                   Sub-Saharan Africa
4                   Sub-Saharan Africa
Name: Region New, dtype: object

In [10]:
import pandas as pd
test = pd.read_csv("100 Sales Records.csv",usecols = ["Region"],squeeze = True)
test.sort_values().head(20)
test.sort_values(ascending = True)
test.sort_values(ascending = False).tail()

77    Asia
70    Asia
18    Asia
96    Asia
33    Asia
Name: Region, dtype: object

In [16]:
google = pd.read_csv("google_stock_price.csv",squeeze = True)
google.head()
google.sort_values()
google =

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [12]:
import pandas as pd
data = pd.read_csv("google_stock_price.csv",squeeze = True)
data.sort_values(ascending = False,inplace=True)
data.sort_index(ascending = False)

3011    782.22
3010    771.61
3009    773.18
3008    771.07
3007    772.88
         ...
4        52.95
3        52.38
2        54.65
1        54.10
0        50.12
Name: Stock Price, Length: 3012, dtype: float64

In [9]:
#extract by index
import pandas as pd
data = pd.read_csv("100 Sales Records.csv",usecols = ["Region"],squeeze = True)
data.head()
data[10]
data[[10,20,30]]
data[50:300]

50                               Europe
51                   Sub-Saharan Africa
52         Middle East and North Africa
53                   Sub-Saharan Africa
54                   Sub-Saharan Africa
55                   Sub-Saharan Africa
56                Australia and Oceania
57                               Europe
58                               Europe
59                   Sub-Saharan Africa
60                Australia and Oceania
61                               Europe
62                   Sub-Saharan Africa
63         Middle East and North Africa
64    Central America and the Caribbean
65                   Sub-Saharan Africa
66                   Sub-Saharan Africa
67    Central America and the Caribbean
68                               Europe
69                   Sub-Saharan Africa
70                                 Asia
71         Middle East and North Africa
72                   Sub-Saharan Africa
73                   Sub-Saharan Africa
74         Middle East and North Africa
75                        North America
76                Australia and Oceania
77                                 Asia
78                               Europe
79                Australia and Oceania
80                               Europe
81         Middle East and North Africa
82         Middle East and North Africa
83                   Sub-Saharan Africa
84                   Sub-Saharan Africa
85                        North America
86                   Sub-Saharan Africa
87                   Sub-Saharan Africa
88         Middle East and North Africa
89                               Europe
90                   Sub-Saharan Africa
91                Australia and Oceania
92         Middle East and North Africa
93                               Europe
94    Central America and the Caribbean
95                   Sub-Saharan Africa
96                                 Asia
97                   Sub-Saharan Africa
98                        North America
99                   Sub-Saharan Africa
Name: Region, dtype: object

In [1]:
#extract by label
import pandas as pd
read = pd.read_csv("100 Sales Records.csv", index_col = "Region",squeeze = True)
read

,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Region,,,,,,,,,,,,,
Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

In [65]:
import pandas as pd
k = pd.read_csv("pokemon.csv",index_col = "Pokemon", squeeze = True)
k.sort_index(inplace = True)
k.head()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

In [13]:
import pandas as pd
data = pd.read_csv("pokemon.csv",index_col = "Pokemon",squeeze = True)
data.sort_index(inplace = True)
data.head()
data.get("Moltres")
data.get(["Moltres","Meowth"])
data.get(key=["Moltres","Meowth"])
data.get(key = ["Digimon","Charizard"],default = "This is not a pokemon")
data.get(key = ["Digimon","test"],default = "This is not a pokemon")

'This is not a pokemon'

In [25]:
import pandas as pd
google = pd.read_csv("google_stock_price.csv",squeeze = True)
google.head()
google.count()
len(google)
google.sum()
google.mean()
google.sum()/google.count()
google.std()
google.min()
google.max()
google.median()

283.315

In [7]:
import pandas as pd
google = pd.read_csv("google_stock_price.csv",squeeze = True)
google.head()
google.max() 
google.idxmax()
#3011
google[3011]
#782.22
google.idxmin()
#11
google[11]
#49.95

49.95

In [13]:
import pandas as pd
pokemon = pd.read_csv("pokemon.csv",index_col = "Pokemon",squeeze = True)
pokemon.value_counts()
pokemon.value_counts().sum()
pokemon.count()
pokemon.value_counts(ascending = True)

Flying        3
Fairy        17
Steel        22
Ice          23
Ghost        23
Dragon       24
Fighting     25
Dark         28
Poison       28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

In [23]:
import pandas as pd
google = pd.read_csv("google_stock_price.csv",squeeze = True)
google.head()

def classify_per(number):
    if number <300:
        return "Ok"
    elif (number >300 and number < 650):
        return "Satisfactory"
    else:
        return "Incerdible"

google.apply(classify_per).tail(11)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64